%p
  %b Name:
  = @topic.name
%p
  %b Description:
  = @topic.description
%p
  %b Sub Areas:
  %ul
    - @topic.sub_areas.each do |sub_area|
      %li= sub_area.name

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'List', topics_path
