= form_for @sub_area, url: policy_area_sub_areas_path do |f|
  -if @sub_area.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sub_area.errors.count, "error")} prohibited this sub_area from being saved:"
      %ul
        - @sub_area.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :policy_area_id

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save', class: 'mainbutton'
