%h1 Listing sub_areas

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @sub_areas.each do |sub_area|
    %tr
      %td= sub_area.name
      %td= sub_area.description
      %td= link_to 'Show', sub_area
      %td= link_to 'Edit', edit_sub_area_path(sub_area)
      %td= link_to 'Destroy', sub_area, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Sub area', new_sub_area_path
