- unless has_search_parameters?
  .search
    = render :partial => 'search_form'
  .content
    = render :partial => 'home_text'
    - sidebar_items << capture do
      = render :partial => 'facets'

- else
  - @page_title = t('blacklight.search.title', :application_name => application_name)
  - extra_head_content << render_opensearch_response_metadata.html_safe

  .search
    = render :partial => 'search_form'
    = render :partial => 'did_you_mean'
    = render 'constraints', :localized_params=>params

  .content
    .pageEntriesInfo
      = render_pagination_info @response, :entry_name=>'item'
      = link_to t('blacklight.search.start_over'), url_for(:action=>'index'), :id=>"startOverLink"

    = render 'sort_and_per_page'
    = render 'results_pagination'
    = render :partial => 'document_list'

    - sidebar_items << capture do
      = render :partial => 'facets'

    = render 'results_pagination'
