= render :partial => 'search_form'

.content
  = render partial: '/flash_message'
  - if has_search_parameters?
    = render :partial => 'search_results'
  - else
    = render home_page

- sidebar_items << capture do
  = render :partial => 'facets'
