= semantic_form_for @asset do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :policy_area
    = f.input :sub_area
    = f.input :topic
    = f.input :title
    = f.input :year
    = f.input :source
    = f.input :state
    = f.input :format
    = f.input :level
    = f.input :type_of
    = f.input :summary
    = f.input :asset_file, label: 'PDF Asset'
    = f.input :bill_number
    = f.input :external_link_to_asset
    = f.input :short_title
    = f.input :source_website
    = f.input :web_folder_link_to_asset_pdf, label: 'Web folder link to asset PDF'
    = f.input :web_folder_link_to_asset_word_doc, label: 'Web folder link to asset Word document'
    = f.input :web_folder_link_to_bill_pdf, label: 'Web folder link to bill PDF'
    = f.input :web_folder_link_to_bill_word_doc, label: 'Web folder link to bill Word document'

    = f.input :alternative_terms
    = f.input :legislative_history
    = f.input :notes

  = f.actions do
    = f.action :submit, class: 'mainbutton', label: 'Save'
