%p
  %b Policy area:
  = @asset.policy_area
%p
  %b Sub area:
  = @asset.sub_area
%p
  %b Topic:
  = @asset.topic
%p
  %b Title:
  = @asset.title
%p
  %b Year:
  = @asset.year
%p
  %b Source:
  = @asset.source
%p
  %b State:
  = @asset.state
%p
  %b Format:
  = @asset.format
%p
  %b Level:
  = @asset.level
%p
  %b Type:
  = @asset.type_of
%p
  %b Summary:
  = @asset.summary
%p
  %b Bill number:
  = @asset.bill_number
%p
  %b External link to asset:
  = @asset.external_link_to_asset
%p
  %b Short title:
  = @asset.short_title
%p
  %b Source website:
  = @asset.source_website
%p
  %b Web folder link to asset PDF:
  = @asset.web_folder_link_to_asset_pdf
%p
  %b Web folder link to asset Word document:
  = @asset.web_folder_link_to_asset_word_doc
%p
  %b Web folder link to bill PDF:
  = @asset.web_folder_link_to_bill_pdf
%p
  %b Web folder link to bill Word document:
  = @asset.web_folder_link_to_bill_word_doc
%p
  %b Alternative terms:
  = @asset.alternative_terms
%p
  %b Legislative history:
  = @asset.legislative_history
%p
  %b Notes:
  = @asset.notes

- if @asset.asset_file?
  %p
    %b PDF Asset:
    = link_to 'Download', @asset.asset_file.url

= link_to 'Edit', edit_asset_path(@asset)
\|
= link_to 'Back', assets_path
