%nav
  %ul
    - if current_user
      %li= link_to 'Dashboard', admin_dashboard_path
      %li= link_to 'Assets', :assets
      %li= link_to 'New Asset', :new_asset
      %li= link_to 'Log Out', destroy_user_session_path, method: 'delete'
    - else
      %li= link_to 'Login', new_user_session_path
