- if has_user_authentication_provider?
  - if current_user
    = link_to 'Dashboard', admin_dashboard_path
    = link_to 'Assets', :assets
    = link_to 'New Asset', :new_asset
    = link_to 'Log Out', destroy_user_session_path, method: 'delete'
  - else
    = link_to 'Login', new_user_session_path
