!!!
%html
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}/
    %title ALICE
    %link{:href => opensearch_catalog_path(:format => 'xml', :only_path => false), :rel => 'search', :title => 'ALICE', :type => 'application/opensearchdescription+xml'}/
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag('application', media: 'all')
    = stylesheet_link_tag('hierarchy', media: 'all') if @show_hierarchy
    = javascript_include_tag('application')
    = javascript_include_tag('hierarchy.js')
    = csrf_meta_tags
    = raw(render_head_content)
  - onload_text = "$('input#q').focus();" if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil?
  %body
    #container
      %header
        = link_to image_tag('alicelogo.png'), root_path
        %nav
          = render partial: '/user_util_links'
        - if ((params[:controller] == 'catalog') and params[:id]) # was !params[:id]
          = content_tag(:span, 'Search Results', id: 'results_text')
      = render 'hierarchy/hierarchy' if @show_hierarchy
      %div#content
        #flash_msg= render partial: '/flash_msg'
        = yield
      -#%aside= sidebar_items.join('').html_safe
      -#%footer= raw(@footer)
